@charset "UTF-8";

/*----- Imports -----*/
@import url(normalize.css);

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Typography, Links, Address
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Nav
        - Hero 
        -Calender
        -Admission
        -Other museum 
        -Join Now
        -discount
        -
        - Backgrounds & Spacing
        - Footer 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen Reader
7.5 - CSS Variable       
8.0 - Media Queries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */
/* for some time, universal and html or body selector are all that will appear under here  */ 


/* ----- UNIVERSAL ----- */

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
}

*:focus-visible {
    outline: 3px solid rgb(120, 196, 250);
    outline-offset: 2px;
}

html {
    font-size: 1.25rem; /* 20px */
    scroll-behavior: smooth;
}

body {
    color: var(--color-black);
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #F0ECE9;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
    - single (not contextual) element selectors only. No classes. No IDs. No contextual selectors. 
-------------------------------------------------------------- */
/* shared styles across elements are grouped at the top, not under an individual elements. Reduces repeated styles */ 
/*----- IMAGES-----*/ 
img {
    width: 50%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center top;
}


/* ----- TYPOGRAPHY ----- */



/* ----- LINKS ----- */


a:hover,
.btn:hover {
    opacity: .7;
}


a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}



/* ----- ADDRESS ----- */




/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */
/* for some time, only .wrapper and .row are likely to appear under this category */ 

/* ----- FRAMEWORK ----- */
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 var(--padding);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}





/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* shared styles across components are grouped at the top, not under an individual component. Reduces repeated styles */ 



/* hero / footer / nav -- are considered components because they'd repeat on across pages on a multi page site. be careful to not get them in the habit of styling based on the 'content' that appears on the page but rather what components make those up */ 
/* ----- General ----- */



/* ----- NAV ----- */
nav img:nth-child(2){
    max-width: 8.65rem;
    height: 8.65rem;
}

nav .rd-border {
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav ul{
    gap: 1.75rem;
}

nav img:nth-child(1){
    max-width: 1rem;
    height: 1rem;
}

nav .wrapper .red div.flex:nth-child(2){
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

nav .wrapper .red .rd-border ul.flex:nth-child(2) {
    align-items: center;
    justify-content: center;
}


nav .wrapper ul.white {
    padding: 2.5rem 0;
    justify-content: center;
    margin: 0;
}

/* ----- HERO ----- */
main > section {
    margin-bottom: var(--spacing);
    }
section.has-background-color {
    padding: var(--spacing);
    }

nav .wrapper div.bg-mammothimg h1{
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    max-width: 33.7rem;
    text-align: center;
}
/*-- Calender--*/
main section:nth-child(1) div.wrapper .rd-border {
    justify-content: center;
    padding: 2.5rem 0 0;
}

main section div.wrapper .bg-lgreen {
    height: 38.3rem;
    max-width: 18rem;
    padding: .5rem 1rem 20rem 1.5rem;
}

main section div.wrapper .bg-lgreen div :nth-child(1){
    margin: .5rem 0;
}

main section div.wrapper .flex .bg-lgreen div h4 {
    margin: 0;
    max-width: 11.6rem;
}

main section:nth-child(1) div.wrapper .flex:nth-child(2){
    justify-content: space-around;
    padding: 1.5rem 0;
    gap: 1rem;
}

main section .wrapper .flex .bg-lgreen .flex {
    flex-direction: column;
    gap: 2rem;
}

/*--Admission--*/
main section:nth-child(2) .wrapper .bg-yellow {
    height: 10rem;
}

main section:nth-child(2) .wrapper .bg-yellow h2{
    justify-self: center;
    align-self: center;
}

main section:nth-child(2) .wrapper div.xl-textweight .flex{
    justify-content: space-between;
    padding: .25rem 2rem .5rem;
}

main section:nth-child(2) .wrapper div.xl-textweight {
   flex-direction: column;
   gap: 1rem;
   margin: 2rem 0;
}

main section:nth-child(2) .wrapper > div:nth-child(3) {
text-align: center;
flex-direction: column;
}

main section:nth-child(2) .wrapper div.bg-lgreen {
    height: 5rem;
    max-width: 72rem;
    text-align: center;
    gap: .25rem;
}

/*--Hours--*/
main section:nth-child(3) .wrapper .rd-border {
    text-align: center;
}
main section:nth-child(3) .wrapper div {
    justify-content: space-between;
    padding: .25rem 2rem .5rem;
    gap: 1rem;
    margin: 2rem 0;
}

main section:nth-child(3) .wrapper p {
    text-align: center;
}

/*-- Other museum --*/
main section:nth-child(4) {
        height: 35rem;
        text-align: center;
}

main .bg-lgreen .wrapper h2 {
    padding: 5rem 0 2.5rem;
}

main .bg-lgreen .wrapper img {
    height: 12.1rem;
}

/*-- JOIN NOW--*/
main section:nth-child(5) .wrapper {
    text-align: center;
}

/*--discount--*/
main section:nth-child(6) {
    text-align: center;
    height: 10rem;
    align-content: center;
}

main section:nth-child(6) .wrapper h6 {
    margin: 0;
}

/* ----- BACKGROUNDS AND SPACING ----- */
.bg-mammothimg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/deadmamoth.jpg) top / cover;
    height: 25rem;
}


.bg-lgreen {
    background: #BEC2B3;
}

.bg-red {
    background: #851111;
}

.bg-yellow {
    background: #9f7a2a;
}

.bg-wht {
    background: #fff;
}

.rd-border {
    border-bottom: #851111 .125rem solid;
}

.boxwithnoimg {
    max-width: 14rem;
    height: 12.2rem;
    background: #fff;
}


/* ----- FOOTER ----- */
footer{
    border-bottom: #9f7a2a 2.5rem solid;
    padding: 4rem 5rem 2rem;
}
footer .wrapper > .grid {
grid-template-columns: auto;
}

footer .wrapper > .grid div.flex:nth-child(1) div.flex:nth-child(2) img {
max-width: 5rem;
height: 5rem;
object-fit: scale-down;
object-position: center;
}
footer .wrapper > .grid div.flex:nth-child(1) > div.flex:nth-child(2) {
    flex-wrap: wrap;
    max-width: 12.5rem;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

footer .wrapper > .grid:nth-child(1) div.flex:nth-child(1) .grid:nth-child(2) .flex {
    align-items: center;
    gap: 1rem;
}

footer .wrapper > .grid:nth-child(1) div.flex:nth-child(1) {
gap: 10rem;
}

footer .wrapper > .grid > div.flex:nth-child(1) {
justify-content: space-between;
}

footer .wrapper > .grid >div:nth-child(2) div:nth-child(1) p {
    max-width: 25.1rem;
}

footer .wrapper > .grid > div.flex:nth-child(2) {
    justify-content: space-between;
} 

footer .wrapper > .grid > div.flex:nth-child(2) .flex:nth-child(2){
    align-items: center;
} 

footer .wrapper > .grid {
    gap: 2.5rem;
}

footer .wrapper > .grid > div.flex:nth-child(2) div:nth-child(3) .flex {
justify-content: space-between;
align-content: center;
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */
/* only classes that could be used on 'any' element should go here  */ 

.xxl-textsize {
    font-size: 2.75rem;
}

.xl-textsize {
    font-size: 2.5rem;
}

.l-textsize {
    font-size: 1.8rem ;
}

.m-textsize {
    font-size: 1rem;
}

.s-textsize {
    font-size: 0.8rem;
}

.xxl-textweight {
    font-weight: 800;
}

.xl-textweight {
    font-weight: 700;
}

.l-textweight {
    font-weight: 600;
}

.m-textweight {
    font-weight: 500;
}

.linespacing {
    line-height: 1.1rem;
}

.width {
    max-width: 14rem;
}


/*-- font colors --*/
.red {
    color: #851111;
}

.yellow {
    color: #9f7a2a;
}

.lgreen {
    color: #BEC2B3;
}

.dgreen {
    color: #253F0F;
}

.brown {
    color: #412C0A;
}

.white {
    color: #fff;
}


/*--"icons'--*/

.tempologo {
    height: 1.5rem;
    max-width: 1.5rem;
    background: #9f7a2a;
    border-radius: 2rem;
}

.rec {
    max-width: 10.9rem;
    text-align: center;
    height: 2.6rem;

}

.sqa {
    text-align: center;
    max-width: 5.4rem;
    height: 2.6rem;
}

/*-- Buttons--*/
.green-btn {
background: #253F0F;
max-width: 10.3rem;
height: 3.25rem;
border-radius: 1.75rem;
display: inline-block;
text-align: center;
align-content: center;
}

.yellow-btn {
background: #9f7a2a;
max-width: 10.3rem;
height: 3.25rem;
border-radius: 1.75rem;
display: inline-block;
text-align: center;
align-content: center;
}







.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.skip-to-main {
    align-items: center;
    background-color: black;
    color: #fff;
    display: flex;
    font-size: 1rem;
    height: 3rem;
    justify-content: center;
    margin-top: -3rem;
    text-decoration: none;
    transition: all .3s ease-out;
    width: 100%;
}

.skip-to-main:focus {
    margin-top: 0;
}

.skip-to-main:hover {
    background-color: grey;
}

/*------------------------------------------------------------
     7.5 - CSS Variable 
--------------------------------------------------------------*/

:root {
    --color-black: #000;
    --color-white: #fff:
    --padding: 2rem;
    --spacing: 5rem;
}

/*--------------------------------------------------------------
    8.0 Media Queries
-------------------------------------------------------------- */
/* Laptop */
@media only screen and (max-width: 1100px) {
    :root {
        --padding: 2rem;
        --spacing: 3rem;
    } 
}

/* Tablet */
@media only screen and (max-width: 768px) {
    :root {
        --padding: 1.5rem;
        --spacing: 3rem;
    } 

    nav .wrapper .bg-red,
    nav .wrapper .red .rd-border ul {
    display: none;

    nav .wrapper .red .rd-border img {
    justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 480px) {
:root {
    --padding: 1rem;
    --spacing: 3rem;
}
}
